# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo

# Secrets
.env
.aws/
credentials
config
*.pem

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local raw datasets
data/raw/csv/*.csv

# Lambda / build artifacts
package/
*.zip